
.div-requirement-name{
  color: #6976b2;
}

.div-requirement-name:hover{
  color: #3f51b5;
}

.info-icon{
  color: #6976b2;
}

.header-icon{
  float: right;
  margin-right: 5%;
}

.test-case{
  transition: background-color 0.3s ease;
}

.test-case:hover{
  background-color: rgba(105, 118, 178, 0.2);
  cursor: pointer;
}
