<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title >
        <div routerLink="/requirement/{{requirement?.id}}" class="div-requirement-name">
          {{ requirement?.name }}
        </div>
        <mat-icon class="info-icon" matTooltip="{{requirement?.description}}">info_outline</mat-icon>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div>
      <p *ngFor="let testCase of requirement?.testCases" class="test-case" routerLink="/tc-page/{{testCase?.id}}">
        {{testCase?.name}}
        <mat-icon class="header-icon">arrow_right_alt</mat-icon>
      </p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
