article{
  width: 100%;
}
.requirement-form {
  min-width: 50%;
  max-width: 100%;
  width: 100%;
  //display: flex;
  //flex-direction: column;
  //align-items: center; /* Центрування по горизонталі */
}

.requirement-full-width {
  width: 100%;
}
.mat-typography{
  width: 100%;
}
h1{
  text-align: center;
}
