article {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.login-button {
  width: 34%;
  margin-left: 33%;
  margin-right: 33%;
  font-size: 20px;
}

.text-name {
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 5%;
}

.h2-class {
  margin-top: 2%;
  margin-left: 5%;
}
