<article>
  <mat-card class="requirement-card">
    <mat-card-header class="requirement-header">
      <h1 routerLink="/project/{{requirement?.projectId}}" class="cursor-pointer">{{ requirement?.projectName }}</h1>
      <h2>
        <mat-icon class="header-icon">arrow_right_alt</mat-icon>
      </h2>
      <h1
        routerLink="/project-component/{{requirement?.projectComponentId}}" class="cursor-pointer">{{ requirement?.projectComponentName }}</h1>
      <h2>
        <mat-icon class="header-icon">arrow_right_alt</mat-icon>
      </h2>
      <h1>{{ requirement?.name }}</h1>
    </mat-card-header>
    <mat-card-content>
      <div class="information">
        <div class="description">
            <h2 class="h2ForDescription">Description: </h2>
            <p class="h2ForDescription">{{ requirement?.description }}</p>
        </div>
      </div>

      <div>
        <div class="tc-header">
            <h1 class="h1-tc">Test Cases:</h1>
            <div class="button-add">
              <button mat-mini-fab matTooltip="Add new test case" color="white"  routerLink="/tc-create-page" [queryParams]="{projectId: requirement?.projectId, projectComponentId: requirement?.projectComponentId}">
                <mat-icon>add</mat-icon>
              </button>
            </div>
        </div>
        <app-tc-item *ngFor="let testCase of requirement?.testCases" [testCase]="testCase"></app-tc-item>
      </div>
    </mat-card-content>
  </mat-card>
</article>
