<article>
  <section>
    <h2 class="text-name">Sign in Your Account</h2>
    <form [formGroup]="authorizationForm">
      <div class="input-block">
        <h2>Username</h2>
        <mat-form-field class="input-full-width">
          <mat-label>Enter your username</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
      </div>

      <div class="input-block">
        <h2>Password</h2>
        <mat-form-field class="input-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
    <button class="login-button" mat-raised-button color="accent" (click)="login()">Sign in</button>
    <h2 class="h2-class">Don't have an account? <a [routerLink]="['/registration']">Sign up</a></h2>
  </section>
</article>

