<article>
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-actions class="example-button-row">
        <div class="header-content">
          <h1>{{ testCase?.name }}</h1>
        </div>
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
      <div class="allInfo">
        <h2>Assignee: {{testCase?.assignee}}</h2>
<!--        <h2>Reporter: {{testCase?.reporter}}</h2>-->
        <h2>Status: {{testCase?.status}}</h2>
        <h2>Test case ID: {{testCase?.id}}</h2>
        <h2>Result: {{testCase?.result}}</h2>
        <h2>Date of testing: {{testCase?. dateOfTesting}}</h2>
        <h2>Environment: {{testCase?.environment}}</h2>
        <h2>Prerequisites: {{testCase?.prerequisites}}</h2>
        <h2>Post-condition: {{testCase?.postCondition}}</h2>
      </div>
      <div class="description">
        <h2 class="h2ForDescription">Steps: {{ testCase?.steps }}</h2>
        <h2 class="h2ForDescription">Expected result: {{ testCase?.expectedResult }}</h2>
      </div>
    </mat-card-content>
  </mat-card>
</article>
