article {
  padding: 1% 5%;
}

.test-case-card {
  border-radius: 15px;
}

.header-icon {
  float: right;
  margin-left: 5%;
  margin-right: 5%;
}

.test-case-header {
  background-color: #6976b2;
  color: white;
}

h2 {
  font-size: medium;
  margin: 0.5% 1% 0 1%; // Видаляє стандартний відступ, щоб уникнути зайвого простору
}

.h1-link {
  cursor: pointer;
}

.description {
  background-color: rgba(105, 118, 178, 0.2);
  width: 68%;
}

.h2ForDescription {
  margin-left: 1%;
  margin-top: 1%;
}

.information {
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.steps-header {
  background-color: #6976b2;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0;
  position: relative;
}
.requirements-header{
  background-color: #6976b2;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0;
  position: relative;
}
.h1-requirements{
  margin-left: 1%;
  margin-top: 1.5%;
  margin-bottom: 1%;

}
.h2-requirements{
  margin-left: 1%;
  margin-top: 1.5%;
  margin-bottom: 1%;
}
.text-requirements{
  cursor: pointer;

}
.h1-steps {
  margin-left: 1%;
  margin-top: 1%;

}

.button-add {
  position: absolute;
  right: 1%;
}


.requirements {
  background-color: rgba(105, 118, 178, 0.2);
  width: 30%;
}

.step-number {
  display: inline-block;
  //width: 1%;
  /* Optional: Add some margin between blocks */
  margin-right: 3%;
  /* Optional: Add some margin at the bottom for better spacing */
  margin-bottom: 10px;
  font-size: large;
  margin-left: 3%;

}

.step-action {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 40%;


}

.step-expected-result {
  display: inline-block;
  /* Optional: Add some margin between blocks */
  margin-right: 10px;
  /* Optional: Add some margin at the bottom for better spacing */
  margin-bottom: 10px;
  width: 40%
}

