article {
  padding: 1% 5%;
}
.project-card {
  border-radius: 15px;
}
.project-header{
  background-color: #6976b2;
  color: white;
  //border-bottom: #3f51b5 2px solid;
}
.description{
  background-color: rgba(105, 118, 178, 0.2);

  width: 49%;
}
.users{
  background-color: rgba(105, 118, 178, 0.2);
  width: 49%;
}

.h2ForDescription{
  margin-left: 1%;
  margin-top: 1%;
}

.information{
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.components-header{
  background-color: #6976b2;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0;
  position: relative;
}

.h1-components{
  margin-left: 1%;
  margin-top: 1%;
}
.button-add{
  position: absolute;
  right: 1%;

}
