article {
  padding: 1% 5%;
}
.example-button-row {
  display: flex;
  justify-content: space-between;
  align-items: center; // Центрує елементи по вертикалі
  background-color: white;
  width: 100%;
}

h2 {
  font-size: medium;
  margin: 0; // Видаляє стандартний відступ, щоб уникнути зайвого простору
  flex-grow: 1; // Займати доступний простір
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%; // Займати всю доступну ширину
}

.button-tickets, .button-components {
  margin-left: 1%; // Додає відступ між кнопками
  max-width: calc(50% - 0.5%); // Задає максимальну ширину кнопок
}

.mat-card {
  background-color: #C9D6F6;
}
